.container {
    width: 100%;
    display: flex;
    justify-content: center;
    .listContainer {
        width: 55%;
        .coverImg {
            width: 100%;
        }

        .content {
            display: flex;
            gap: 1em;
            align-items: center;

            .notesIcon {
                width: 4em;
            }

            .name {
                font-size: 2em;
                width: max-content;
            }
        }
    }
}